.accordion {
  overflow-y: auto;
}
.accordion__title {
  display: block;
  width: 100%;
  border: 0;
  background: transparent;
  text-align: left;
  border: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 1rem 2rem;
  margin-bottom: 0;
  position: relative;
}
.accordion__title h2 {
  margin-top: 0;
  margin-bottom: 0;
  color: #color01;
}
.accordion__title:hover {
  background: rgba(0, 0, 0, 0.05);
}
.accordion__wrapper {
  overflow: hidden;
}
.accordion__child {
  margin-bottom: 2rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.accordion__arrow {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  color: rgba(0, 0, 0, 0.5);
  transition: transform 0.2s ease;
  font-size: 0.75rem;
}
.accordion.open .accordion__arrow {
  transform: translateY(-50%) rotate(90deg);
}
